
.Social_div{
    margin-left: 0px;
    margin-bottom: 0px;
}

.Social_bg{
    width: 131px;
    height: 422px;
}

.images{
    position: fixed;
    bottom: 35px;
    top: 48%;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 450px){

    .Social_bg{
        width: 131px;
        height: 422px;
    }

    .images{
        position: fixed;
        bottom: 35px;
        top: 60%;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .images_soc{
        width: 40px;
    }

}

@media (max-width: 840px){

    .Social_bg{
        width: 131px;
        height: 422px;
    }

    .images{
        position: fixed;
        bottom: 35px;
        top: 60%;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .images_soc{
        width: 40px;
    }

}