body{
  background-color: #CAF0F8;
  height: 100%; /* Make sure the body and HTML take up the full height of the viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.Logo{
  position: fixed;
  width: 118px;
}



.App{
  height: 100%;
}

.logo_div{
  margin-top: 20px;
  margin-left: 20px;
}

.Contact{
  position: fixed;
  top: 10px;
  right: 100px;
}

.social{
  position: fixed;
  bottom: 0;        
  left: 0;         
  margin: 0;       
  padding: 0;      
  width: auto;
  height: auto;
}

.Aboutbox{
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 18%;

}

.Project{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  right: 80px;
}




.Myskills{
  position: fixed;
  bottom: 10px;
  right: 100px;
}


.about{
  position: fixed;
  top: 200px;
  width: 100px;
  height: 200px;
}
