body{
  background-color: #CAF0F8;
  height: 100%; /* Make sure the body and HTML take up the full height of the viewport */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.Logo{
  width: 118px;
}


.label {
  height: 120px;
  width: 46px;
}

.label .text-wrapper {
  margin-top: 250px;
  color: #000000;
  font-family: "Potta One-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-shadow: 4px 4px 4px #00000040;
  top: 0;
  transform: rotate(-90deg);
}



.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row1{
  display: flex;
  flex-direction: row;
}

.green{
  margin-top: 20px;
  margin-left: 20px;
}

.yellow{
  background-color: yellow;
  width: 150px;
  height: 100px;
}

.blue{
  position: relative;
  bottom: 0;        
  left: 0;         
  margin: 0;       
  padding: 0;      
  width: auto;
  height: auto;
}

.row2{
  display: flex;
  flex-direction: row;
}

.purple{
  background-color: purple;
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
  width: 100px;
  height: 100px;
}

.pink{
  background-color: pink;
  width: 200px;
  height: 100px;
}

.row3{
  display: flex;
  flex-direction: row;
}

.column1{
  display: flex;
  flex-direction: column;
}

.column2{
  display: flex;
  flex-direction: column;
}

.about{
  background-color: green;
  width: 100px;
  height: 200px;
}