@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Mogra&family=Port+Lligat+Slab&display=swap');

.Container{
    display: flex;
    flex-direction: row;
    background-color: #ADE8F4;
    border-color: #0077B6;
    border-radius: 40px;
    border: solid 4px;
    padding: 20px;
    padding-left: 20px;
    box-shadow: 4px 4px 4px #00000040;
}

.Image_box{
    height: inherit;
    background-color: #90E0EF;
    margin-left: 10px;
    padding: 0px;
    border-radius: 40px;
}

.box {
  height: 462px;
  position: relative;
  width: 531px;
}

.box .text {
  height: 462px;
  width: 537px;
}

.box .text-wrapper {
  color: #000000;
  font-family: "Lemon", Helvetica;
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
}

.box .div {
  color: #000000;
  font-family: "Mogra", Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

.box .i-am-pursuing-b-tech {
  color: #000000;
  margin-top: 20px;
  font-family: "Port Lligat Slab", Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

.code_image{
    width: 324px;
    position: relative;
}

@media (max-width: 450px){

  .Container{
    display: flex;
    flex-direction: column-reverse;
    border: solid 2px;
    padding: 8px;
  }

  .code_image{
    width: 200px;
}



.box .text-wrapper {
  font-size: 40px;
}

.box .div {
  font-size: 30px;
  font-weight: 400;
}

.box .i-am-pursuing-b-tech {
  font-size: 20px;
  font-weight: 400;
}

.Image_box{
  margin-left: 0px;
}

.box {
  max-height: 330px;
  position: relative;
  width: 350px;
}

.box .i-am-pursuing-b-tech {
  margin-top: -5px;
}

}

@media (max-width: 840px){

  .Container{
    display: flex;
    flex-direction: column-reverse;
    border: solid 2px;
    padding: 8px;
    padding-bottom: 0px;
  }

  .code_image{
    width: 200px;
}



.box .text-wrapper {
  font-size: 40px;
}

.box .div {
  font-size: 30px;
  font-weight: 400;
}

.box .i-am-pursuing-b-tech {
  font-size: 20px;
  font-weight: 400;
}

.Image_box{
  margin-left: 0px;
}

.box {
  max-height: 330px;
  position: relative;
  width: 350px;
}

.box .i-am-pursuing-b-tech {
  margin-top: -5px;
}

}

